.branch{
    cursor: pointer;
}
.hours{
    /*display: none;*/
}
.branches.wheelchair-show .wheelchair-no {
    display: none;
}
/*.branches.wheelchair-hide .wheelchair-yes {
    display: none;
}*/
.branches.wireless-show .wireless-no {
    display: none;
}
/*.branches.wireless-hide .wireless-yes {
    display: none;
}*/
.branches.monday-show .monday-close{
    display: none;
}
/*.branches.monday-hide .monday-open{
    display: none;
}*/
.branches.tuesday-show .tuesday-close{
     display: none;
 }
/*.branches.tuesday-hide .tuesday-open{
    display: none;
}*/
.branches.wednesday-show .wednesday-close{
    display: none;
}
/*.branches.wednesday-hide .wednesday-open{
    display: none;
}*/
.branches.thursday-show .thursday-close{
    display: none;
}
/*.branches.thursday-hide .thursday-open{
    display: none;
}*/
.branches.friday-show .friday-close{
    display: none;
}
/*.branches.friday-hide .friday-open{
    display: none;
}*/
.branches.saturday-show .saturday-close{
    display: none;
}
/*.branches.saturday-hide .saturday-open{
    display: none;
}*/
.branches.sunday-show .sunday-close{
    display: none;
}
/*.branches.sunday-hide .sunday-open{
    display: none;
}*/

.onoffswitch {
    position: relative;
    width: 50px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    display: inline-block;
    margin-right: 40px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 18px;
    padding: 0;
    line-height: 18px;
    border: 2px solid #CCCCCC;
    border-radius: 18px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 18px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}
.onoffswitch span{
    position: relative;
    display: inline-block;
}
